* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.box{
height: 100%;
width: 100%;
background: #58546b;
padding-bottom: 50px;
}

.box2{
height: 100%;
width: 100%;
background: #58546b;
padding-top: 50px;
}

.loader-wrapper {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
background-color: #333333;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.image{
height: 45px;
width: 50px;
border-radius: 50%;
margin-right: 20px;
}

.c-item{
  width: 100%;
  height: 100%;
}

strong{
  margin-left: 10px;
}

.c-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.navbar-brand{
  font-weight: 700;
}

.nav-item:hover{
  color: white;
}

.nav-item-active:hover{
  color: white;
}

.nav-item.dropdown:hover .nav-link {
  color: white;
}

/* Styles for dropdown hover */
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-item:hover .nav-link {
  color: white !important;
}

.card {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 4px solid #dee2e6;
  border-radius: 30px;
  padding: 30px;
  background-color: #ffffff;
}

.card h2 {
  color: #343a40;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.btn-success {
background-color: #007bff;
color: #ffffff;
border: none;
padding: 12px 24px;
border-radius: 4px;
cursor: pointer;
}

.btn-success:hover {
  background-color: #0056b3;
}

.card-img-top1 {
  object-fit: cover;
  border-radius: 50%;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

th, td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

thead {
  background-color: #343a40;
  color: #ffffff;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

.photo-item {
  width: calc(25% - 16px);
  position: relative;
}

.photo-item img {
  width: 100%;
  border: 2px solid #212529; /* Add your desired border style */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.photo-item {
  transition: transform 0.2s;
}

.photo-item:hover {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.2s;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-img-top1 {
  transition: transform 0.2s;
}

.card-img-top1:hover {
  transform: scale(1.05);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.photo-item {
  cursor: pointer;
}

.modal-content {
  text-align: center;
}

.modal-header {
  background-color: #343a40;
  color: #fff;
  border-bottom: 2px solid #212529;
  padding: 15px;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Add the following styles for the 4-column layout on mobile screens */
  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-sm-3 {
    flex: 0 50% 100%;
    max-width: 100%;
  }

  /* Optional: Adjust the padding or margins as needed */
  .card-body {
    padding: 15px;
  }

  .c-img{
    max-width: 100%;
    height: 11rem;
    object-fit: cover;
    filter: brightness(0.7);
}

.card-img-top1 {
  object-fit: cover;
  border-radius: 50%;
}

.card-text{
  font-size: 12px;
}

table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

th, td {
  display: table-cell;
  width: auto;
}

.photo-item {
  width: calc(50% - 16px);
}

.col-sm-3 {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

.box2 {
  padding-top: 15px; /* Adjust the top padding as needed for mobile layout */
}

.col-lg-10{
  width: 20%;
}

.col-lg-2{
  width: 20%;
}

.modal-lg {
  max-width: 100%;
}

.blockquote.text{
        font-size: 10px; 
        line-height: 1.5; 
    }

.img-fluid{
  height: 60%;
  width: 60%;
}
}

@media (min-width: 768px) {
  .custom-navbar {
      display: flex;
      justify-content: space-between;
      width: 95%; /* Adjust the width as needed */
  }

  .nav-item-active{
      padding-left: 50px;
  }

  .c-item {
      width: 100%;
      height: 100%;
  }

  .c-img{
      width: 100%;
      height: 60%;
      object-fit: cover;
      filter: brightness(0.7);
  }

  .modal-lg {
    max-width: 100%;
  }
}

.container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #101212;
  color: white;
  border-radius: 10px;
  box-shadow: -20px -20px 30px rgba(9, 212, 195, 0.1), 20px 20px 30px rgba(9, 212, 195, 0.1);
  margin-bottom: 20px;
  border: 3px solid #00FFBB;
  
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px !important;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
/* .timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
} */

.timeline-content h3 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #00FFBB;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-52px);
    border-radius: 20px 20px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(22px);
    border-radius: 20px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #00FFBB;;
    
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -40px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -40px;
  }
  /* .timeline-content .date {
    position: absolute;
    top: -30px;
  } */
  .timeline ul li:hover::before {
    background-color: #00FFBB;
  }
}


.faq{
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2{
  font-weight: 500;
  font-size: 40px;
}

.accordion{
  margin: 60px auto;
  width: 100%;
  max-width: 95%;
}

.accordion li{
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  background: #777696;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after{
  content: '+';
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="radio"]{
  display: none;
}

.accordion .content{
  background: #b39eb5;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  font-weight: 500;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
}

.faq .email-signup{
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small{
  font-size: 13px;
}